:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.group {
  height: 144px;
  background-color: hsla(var(--igx-primary-700));
  justify-content: center;
  flex-shrink: 0;
  align-items: stretch;
}
.image {
  height: 112px;
  width: 112px;
  min-width: 0;
  min-height: 0;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0;
}
.group_1 {
  background-color: hsla(var(--igx-grays-100));
  overflow: auto;
  justify-content: center;
  flex-grow: 1;
  min-height: 50px;
  flex-shrink: 0;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_2 {
  margin: 0 32px 0 0;
  width: 200px;
  justify-content: center;
  min-height: 50px;
  flex-shrink: 0;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_3 {
  margin: 0 16px 32px 0;
  width: 200px;
  border-width: 1px 1px 1px 1px;
  background-color: hsla(var(--igx-surface-500));
  border-color: hsla(var(--igx-grays-200));
  border-style: solid;
  flex-shrink: 0;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.text {
  color: hsla(var(--igx-grays-500));
  min-width: min-content;
  flex-shrink: 0;
  height: max-content;
}
.group_4 {
  border-width: 1px 0px 0px 0px;
  padding: 8px;
  min-height: min-content;
  border-color: hsla(var(--igx-grays-300));
  background-color: hsla(var(--igx-surface-500));
  justify-content: center;
  border-style: solid;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_5 {
  width: 960px;
  min-height: 50px;
  flex-shrink: 0;
  position: relative;
  min-width: 50px;
}
.group_6 {
  min-height: min-content;
  align-items: stretch;
  min-width: 50px;
}
.element {
  color: hsla(var(--igx-surface-500));
  min-width: min-content;
  height: max-content;
}
.text_1 {
  color: hsla(var(--igx-primary-500));
  margin: 0 0 8px;
  min-width: min-content;
  height: max-content;
}
.group_7 {
  border-color: hsla(var(--igx-grays-300));
  border-width: 0px 0px 1px 0px;
  padding: 16px;
  border-style: solid;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_8 {
  border-width: 1px 1px 1px 1px;
  background-color: hsla(var(--igx-surface-500));
  margin: 0 0 32px;
  flex-grow: 1;
  border-color: hsla(var(--igx-grays-200));
  padding: 16px;
  border-style: solid;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_9 {
  align-items: center;
}
.group_10 {
  margin: 0 0 32px;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_11 {
  border-width: 0px 0px 1px 0px;
  border-color: hsla(var(--igx-grays-200));
  padding: 16px;
  border-style: solid;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_12 {
  flex-grow: 1;
  min-height: 50px;
  align-items: stretch;
  position: relative;
  min-width: 50px;
}
.group_13 {
  margin: 0 0 8px;
  flex-shrink: 0;
  height: max-content;
  min-width: 50px;
}
.element_1 {
  margin: 0 0 16px;
}
.element_2 {
  min-width: min-content;
  height: max-content;
}
.element_3 {
  flex-shrink: 0;
}
.group_14 {
  align-items: stretch;
}
.group_15 {
  position: relative;
}
.group_16 {
  min-width: 50px;
}
.button {
  background-color: hsla(var(--igx-primary-400));
  color: hsla(var(--igx-surface-500));
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.input {
  width: 484px;
  margin: 0 8px 0 0;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.input_1 {
  width: 97px;
  margin: 0 8px 0 0;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.input_2 {
  width: 216px;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.button_1 {
  color: hsla(var(--igx-surface-500));
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.user-input {
  margin: 0 8px 0 0;
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.user-input_1 {
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin: 0 8px 0 0;
}
.content {
  margin: 0 8px 0 0;
}
.icon_1 {
  width: 18px;
  height: 18px;
  font-size: 18px;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
