<div class="group row">
  <div class="group_5 group_9 row">
    <div class="group_2 row">
      <img src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" class="image" />
    </div>
    <div class="group_12 column">
      <div class="group_12 element_1 column">
        <h4 class="element">Erin Brockovich</h4>
        <p class="igx-typography__subtitle-1 element">Water Quality Specialist</p>
      </div>
      <div class="group_6 row">
        <button igxButton="flat" igxRipple class="button">personal</button>
        <button igxButton="flat" igxRipple class="button_1">job</button>
        <button igxButton="flat" igxRipple class="button_1">time-off</button>
        <button igxButton="flat" igxRipple class="button_1">emergency</button>
        <button igxButton="flat" igxRipple class="button_1">documents</button>
        <button igxButton="flat" igxRipple class="button_1">benefits</button>
        <button igxButton="flat" igxRipple class="button_1">pay info</button>
      </div>
    </div>
  </div>
</div>
<div class="group_1 row">
  <div class="group_5 group_14 row">
    <div class="group_3 column">
      <div class="group_11 column">
        <p class="igx-typography__subtitle-2 text_1">Hire Date</p>
        <p class="igx-typography__body-2 element_2">Feb 01, 2010</p>
        <p class="igx-typography__caption element_2">10y-10m-7d</p>
      </div>
      <div class="group_11 column">
        <div class="group_13 group_14 group_15 row">
          <igx-icon family="material" class="content icon_1">waves</igx-icon>
          <p class="igx-typography__body-2 element_2 element_3">Waste water mgmt.</p>
        </div>
        <div class="group_13 group_14 group_15 row">
          <igx-icon family="material" class="content icon_1">domain</igx-icon>
          <p class="igx-typography__body-2 element_2 element_3">Nuclear Disposal</p>
        </div>
        <div class="group_13 group_14 group_15 row">
          <igx-icon family="material" class="content icon_1">location_on</igx-icon>
          <p class="igx-typography__body-2 element_2 element_3">California, USA</p>
        </div>
      </div>
      <div class="group_7 column">
        <p class="igx-typography__subtitle-2 text_1">Manager</p>
        <div class="group_9 group_13 row">
          <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" [roundShape]="true" size="small" class="content"></igx-avatar>
          <p class="igx-typography__body-2 element_2 element_3">Donni Darko</p>
        </div>
      </div>
    </div>
    <div class="group_8 column">
      <div class="group_9 element_1 group_15 group_16 row">
        <igx-icon family="material" class="icon">perm_contact_calendar</igx-icon>
        <h6 class="element_2 element_3">Personal</h6>
      </div>
      <p class="igx-typography__subtitle-1 element_1 element_2">Basic Information</p>
      <div class="element_1 group_14 group_15 group_16 row">
        <igx-input-group type="border" class="user-input">
          <input type="text" value="Erin" [disabled]="true" igxInput />
          <label igxLabel>First name</label>
        </igx-input-group>
        <igx-input-group type="border" class="user-input">
          <input type="text" value="First name" [disabled]="true" igxInput />
          <label igxLabel>Middle name</label>
        </igx-input-group>
        <igx-input-group type="border" class="user-input_1">
          <input type="text" value="Brockovich" [disabled]="true" igxInput />
          <label igxLabel>Last name</label>
        </igx-input-group>
      </div>
      <div class="element_1 group_14 group_15 group_16 row">
        <igx-select type="border" value="2" class="user-input">
          <igx-select-item value="1">Male</igx-select-item>
          <igx-select-item value="2">Female</igx-select-item>
          <igx-select-item value="3">It's complicated</igx-select-item>
          <label igxLabel>Gender</label>
        </igx-select>
        <igx-select type="border" class="user-input_1">
          <igx-select-item value="1">Married</igx-select-item>
          <igx-select-item value="1">Single</igx-select-item>
          <label igxLabel>Marital status</label>
        </igx-select>
      </div>
      <div class="element_1 group_14 group_15 group_16 row">
        <igx-input-group type="border" class="input">
          <input type="text" value="123 Wallaby Lane" igxInput />
          <label igxLabel>Address</label>
        </igx-input-group>
      </div>
      <div class="group_10 row">
        <igx-input-group type="border" class="user-input">
          <input type="text" value="Scramento" igxInput />
          <label igxLabel>City</label>
        </igx-input-group>
        <igx-input-group type="border" class="input_1">
          <input type="text" value="CA" igxInput />
          <label igxLabel>State</label>
        </igx-input-group>
        <igx-input-group type="border" class="user-input_1">
          <input type="number" value="94203" igxInput />
          <label igxLabel>Zip/Postal Code</label>
        </igx-input-group>
      </div>
      <p class="igx-typography__subtitle-1 element_1 element_2">Contact</p>
      <div class="group_10 row">
        <igx-input-group type="border" class="user-input">
          <igx-prefix>
            <igx-icon family="material" class="icon_1">home</igx-icon>
          </igx-prefix>
          <input type="phone" igxInput />
          <label igxLabel>Home phone</label>
        </igx-input-group>
        <igx-input-group type="border" class="user-input">
          <igx-prefix>
            <igx-icon family="material" class="icon_1">domain</igx-icon>
          </igx-prefix>
          <input type="phone" igxInput />
          <label igxLabel>Work phone</label>
        </igx-input-group>
        <igx-input-group type="border" class="input_2">
          <igx-prefix>
            <igx-icon family="material" class="icon_1">person</igx-icon>
          </igx-prefix>
          <input type="phone" igxInput />
          <label igxLabel>Mobile phone</label>
        </igx-input-group>
      </div>
    </div>
  </div>
</div>
<div class="group_4 row">
  <p class="igx-typography__body-2 text">(c) 2020 IndigoDesign Inc.</p>
</div>
