<div class="group_1 row">
  <div class="group_8 group_16 row">
    <igx-icon family="material" class="icon_1">home</igx-icon>
    <h4 class="h4">Home</h4>
  </div>
</div>
<div class="group_2 row">
  <div class="group_8 group_17 row">
    <div class="group_3 column">
      <div class="group_6 row">
        <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="medium" class="avatar"></igx-avatar>
        <div class="group_15 group_17 column">
          <h5 class="element_1">Erin Brockovich</h5>
          <p class="igx-typography__body-1 element_1">Water quality specialist</p>
        </div>
      </div>
      <div class="group_12 group_18 row">
        <div class="group_7 column">
          <p class="igx-typography__subtitle-2 text_3">Open PTO</p>
          <igx-icon family="material" class="icon">date_range</igx-icon>
          <p class="igx-typography__body-2 text_4">8.5 days used (YTD)</p>
          <p class="igx-typography__caption text_4">1 day scheduled</p>
        </div>
        <div class="group_15 group_16 element_1 column">
          <p class="igx-typography__subtitle-2 text_3">Bereavement leave</p>
          <div class="group_14 row">
            <h6 class="element">0.0</h6>
            <igx-icon family="material" class="icon_2">date_range</igx-icon>
          </div>
          <p class="igx-typography__body-2 text_4">Days available</p>
          <p class="igx-typography__caption text_4">0 day scheduled</p>
        </div>
      </div>
      <div class="group_9 row">
        <button igxButton="raised" igxRipple class="button">
          <igx-icon>send</igx-icon>
          <span>Request time off</span>
        </button>
        <button igxButton="icon" igxRipple class="button_1">
          <igx-icon>email</igx-icon>
        </button>
      </div>
      <div class="group_11 column">
        <p class="igx-typography__subtitle-2 text_1">What's the buzz</p>
        <div class="group_11 list_scroll column">
          <igx-list class="list">
            <igx-list-item [isHeader]="false" class="list-item">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle>Ethan Hunt</span>
              <span igxListLineSubTitle>Birthday, Oct 1</span>
              <span igxListAction>
                <igx-icon family="material" class="icon_3">cake</igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false" class="list-item">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar5.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle>Luke Skywalker</span>
              <span igxListLineSubTitle>25th work-anniversary</span>
              <span igxListAction>
                <igx-icon family="material" class="icon_3">flag</igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false" class="list-item">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar1.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle>Donnie Darko</span>
              <span igxListLineSubTitle>On vacation, Oct 10-23</span>
              <span igxListAction>
                <igx-icon family="material" class="icon_3">beach_access</igx-icon>
              </span>
            </igx-list-item>
            <igx-list-item [isHeader]="false" class="list-item">
              <span igxListThumbnail>
                <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="small"></igx-avatar>
              </span>
              <span igxListLineTitle>Edna Mode</span>
              <span igxListLineSubTitle>Visiting customer</span>
              <span igxListAction>
                <igx-icon family="material" class="icon_3">airplanemode_active</igx-icon>
              </span>
            </igx-list-item>
          </igx-list>
        </div>
      </div>
    </div>
    <div class="group_5 column">
      <div class="group_12 group_13 column">
        <div class="group row">
          <p class="igx-typography__subtitle-2 text_2">What's happening at Rapid Fission Inc.</p>
          <p class="igx-typography__subtitle-2 text_2">Announcements (1)</p>
        </div>
        <igx-list class="list">
          <igx-list-item [isHeader]="false" class="list-item">
            <span igxListThumbnail>
              <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar4.png" [roundShape]="true" size="small"></igx-avatar>
            </span>
            <span igxListLineTitle>George Bailey posted  an announcement, awards, and call for nominations</span>
            <span igxListLineSubTitle>19 days ago</span>
            <span igxListAction>
              <igx-icon family="material" class="icon_3">clear</igx-icon>
            </span>
          </igx-list-item>
        </igx-list>
      </div>
      <div class="group_17 column">
        <div class="group_10 row">
          <p class="igx-typography__subtitle-2 element">MY BENEFITS</p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false" class="list-item">
          <span igxListThumbnail>
            <igx-avatar icon="security" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>Radiation protection health insurance planre</span>
          <span igxListLineSubTitle>$600 every other week</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" class="list-item">
          <span igxListThumbnail>
            <igx-avatar icon="remove_red_eye" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>20/20 Vision plans here</span>
          <span igxListLineSubTitle>$234 every other week</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" class="list-item">
          <span igxListThumbnail>
            <igx-avatar icon="child_friendly" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>Child care savings</span>
          <span igxListLineSubTitle>$4955 remaining</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" class="list-item">
          <span igxListThumbnail>
            <igx-avatar icon="security" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
          </span>
          <span igxListLineTitle>Fire hazard protection  </span>
          <span igxListLineSubTitle>On da house!</span>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
<div class="group_4 row">
  <p class="igx-typography__body-2 text">(c) 2020 Rapid Fission Inc.</p>
</div>
